/* STANDARD FOR MOBILE */
* {
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-touch-callout: none;
  /* prevent webkit from resizing text to fit */
  -webkit-text-size-adjust: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-user-select: none;
  background-attachment: fixed;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

ul#list {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-animation: fade 1s 1;
  /* Safari 4+ */
  -moz-animation: fade 1s 1;
  /* Fx 5+ */
  -o-animation: fade 1s 1;
  /* Opera 12+ */
  animation: fade 1s 1;
  /* IE 10+ */ }
  ul#list li {
    border-bottom: 1px solid #d9e2eb;
    background: white;
    display: block;
    padding: 15px 0px 15px 10px;
    width: 100%; }
    ul#list li a {
      position: relative;
      display: block;
      text-decoration: none;
      font-size: 1.4em;
      color: #787878;
      font-weight: bold;
      overflow: hidden; }

#back {
  background-color: red;
  padding: 1.5em;
  color: white;
  text-align: center; }

#log-in {
  cursor: pointer;
  background-color: green;
  padding: 1.5em;
  color: white;
  text-align: center; }

#log-in-with-facebook {
  cursor: pointer;
  background-color: blue;
  padding: 1.5em;
  color: white;
  text-align: center; }

@-webkit-keyframes fade {
  0% {
    margin-left: 100%; }

  100% {
    margin-left: 0; } }

@-moz-keyframes fade {
  0% {
    margin-left: 100%; }

  100% {
    margin-left: 0; } }

@-o-keyframes fade {
  0% {
    margin-left: 100%; }

  100% {
    margin-left: 0; } }

@keyframes fade {
  0% {
    margin-left: 100%; }

  100% {
    margin-left: 0; } }
