/* STANDARD FOR MOBILE */
* {
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  width: 100%;
  height: 100%; }

body {
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-touch-callout: none;
  /* prevent webkit from resizing text to fit */
  -webkit-text-size-adjust: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-user-select: none;
  background-attachment: fixed;
  font-family: "GothamLight";
  font-size: 12px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

ul#list {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%; }
  ul#list li {
    border-bottom: 1px solid #d9e2eb;
    background: white;
    display: inline-block;
    padding: 10px 0px 10px 10px;
    width: 100%; }
    ul#list li a {
      position: relative;
      display: block;
      text-decoration: none;
      font-size: 1.4em;
      color: #787878;
      font-weight: bold;
      overflow: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'RockwellStdRegular'; }

p {
  margin-top: 0; }

.partita-player ul {
  width: 400% !important;
  height: 100%;
  z-index: 100;
  background: #DBDCDE;
  -webkit-transition: margin-left 1s ease;
  /* Safari 4+ */
  -moz-transition: margin-left 1s ease;
  /* Fx 5+ */
  -o-transition: margin-left 1s ease;
  /* Opera 12+ */
  transition: margin-left 1s ease;
  /* IE 10+ */ }

.partita-player ul li {
  overflow: hidden;
  border: none !important;
  width: 25% !important;
  height: 100%;
  padding: 0 !important;
  background: none !important; }

.partita-player ul li .half-width img {
  width: 100% !important;
  max-width: none !important; }

.partita-player ul li h2 {
  color: #F47B33;
  margin-bottom: 0; }

#header {
  width: 100%;
  display: table;
  height: 10%;
  text-align: center;
  font-family: 'RockwellStdRegular';
  background: #f0ac3d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f0ac3d 0%, #f47b33 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0ac3d), color-stop(100%, #f47b33));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f0ac3d 0%, #f47b33 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f0ac3d 0%, #f47b33 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f0ac3d 0%, #f47b33 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f0ac3d 0%, #f47b33 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0ac3d', endColorstr='#f47b33',GradientType=0 );
  /* IE6-9 */ }

#header span {
  display: table-cell;
  vertical-align: middle;
  float: none; }

.header-profilo span {
  width: 33.3%; }

.header-profilo span img {
  height: 25%; }

.header-profilo span#profilo img {
  left: 10%;
  position: relative;
  float: left; }

.header-profilo span#opzioni img {
  right: 10%;
  position: relative;
  float: right; }

#launch-footer {
  height: 10%;
  text-align: center; }

#back {
  background-position: 40% 35%;
  height: 100%;
  width: 30%;
  text-align: center;
  background-image: url(../res/img/back.png);
  background-repeat: no-repeat;
  background-size: 60% auto;
  color: #FAE8AC;
  font-size: 1.5em; }

#title {
  width: 70%;
  text-align: center;
  font-size: 2em;
  line-height: 2em;
  color: #FAE8AC;
  font-family: 'RockwellStdBold';
  overflow: auto;
  text-overflow: ellipsis; }

#hintsite {
  text-align: center;
  font-size: 2em;
  line-height: 2em;
  color: #FAE8AC;
  font-family: 'RockwellStdRegular';
  overflow: auto;
  text-overflow: ellipsis; }

#hint_description {
  margin: 0px auto;
  width: 100%;
  height: 100%;
  font-family: "GothamLight";
  font-size: 12px;
  border: 2px solid orange; }

#nome-lista {
  margin: 0px auto;
  width: 100%;
  height: 100%;
  background-color: #939597;
  text-transform: uppercase;
  color: #fff;
  font-family: "GothamLight";
  font-size: 12px;
  text-align: left;
  font-weight: bold; }

#nome-lista p {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 1em;
  margin: 0; }

#photomappa {
  height: 100px;
  width: 100%; }

#map_canvas {
  height: 100%;
  width: 100%; }

#map {
  height: 100%;
  width: 100%; }

.locate-me-icon {
  width: 30px;
  height: 30px;
  display: block;
  padding: 3px; }
  .locate-me-icon:hover {
    background-color: rgba(0, 0, 0, 0.1); }

#photo {
  height: 100%;
  width: 50%;
  float: left;
  background-color: pink;
  text-align: center; }

img {
  max-width: 100%; }

#photo img {
  max-width: 100%; }

#mappa {
  height: 100px;
  width: 50%;
  float: left;
  background-color: purple;
  text-align: center; }

#description {
  float: left;
  height: 30%;
  width: 100%;
  text-align: center; }

#setlaunchtime {
  height: 100%;
  float: left;
  width: 30%;
  background-color: pink;
  text-align: center; }

#launchtime {
  height: 100%;
  float: left;
  width: 70%;
  background-color: red;
  text-align: center; }

#setthistime {
  height: 10%;
  float: left;
  width: 100%;
  background-color: lavender;
  text-align: center; }

#addPlayers {
  height: 10%;
  background-color: green;
  color: white;
  text-align: center; }

#launch {
  height: 100%;
  float: left;
  width: 100%;
  background-color: orange;
  text-align: center; }

#set-point-btn {
  height: 10%;
  float: left;
  width: 100%;
  background-color: orange;
  text-align: center; }

#check-in-btn {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  bottom: 2%;
  margin-left: -62px;
  border: 8px solid rgba(244, 123, 51, 0.4);
  -webkit-border-radius: 1000px; }

#inside-check-in-btn {
  margin: 2%;
  background-color: #F47B33;
  text-align: center;
  width: 96%;
  height: 96%;
  -webkit-border-radius: 1000px;
  position: relative; }

#inside-check-in-btn img {
  left: 30%;
  top: 25%;
  position: absolute;
  width: 40%; }

#log-in {
  cursor: pointer;
  background-color: green;
  padding: 1.5em;
  color: white;
  text-align: center; }

#close-popup {
  cursor: pointer;
  background-color: green;
  padding: 1.5em;
  color: white;
  text-align: center; }

#log-in-with-facebook {
  cursor: pointer;
  background-color: blue;
  padding: 1.5em;
  color: white;
  text-align: center; }

#NewMatchButton {
  font-family: "GothamLight";
  text-align: center;
  height: 80px;
  width: 100%;
  float: left;
  background-color: #F47B33;
  padding: 0; }

#NewMatchButton img {
  height: 60%;
  top: 20%;
  position: relative;
  display: inline-block;
  margin-right: 25px; }

#NewMatchButton h1 {
  display: inline-block;
  color: #FAE8AC; }

#user-to-add {
  font-family: "GothamLight";
  text-align: center;
  background-color: #ee7427;
  padding: 1.5em; }

#container {
  -webkit-animation: appear 1s 1;
  /* Safari 4+ */
  -moz-animation: appear 1s 1;
  /* Fx 5+ */
  -o-animation: appear 1s 1;
  /* Opera 12+ */
  animation: appear 1s 1;
  /* IE 10+ */
  height: 100%;
  position: relative;
  overflow-x: hidden; }

.loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 9999;
  -webkit-animation: appear 1s 1;
  /* Safari 4+ */
  -moz-animation: appear 1s 1;
  /* Fx 5+ */
  -o-animation: appear 1s 1;
  /* Opera 12+ */
  animation: appear 1s 1;
  /* IE 10+ */
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.meno {
  height: 70px;
  float: left;
  width: 30%;
  background-color: powderblue;
  text-align: center; }

.piu {
  height: 70px;
  float: left;
  width: 30%;
  background-color: powderblue;
  text-align: center; }

.settedElement {
  height: 70px;
  float: left;
  width: 40%;
  background-color: yellow;
  text-align: center; }

#day {
  height: 70px;
  float: left;
  width: 40%;
  background-color: yellow;
  text-align: center; }

.setter {
  border-bottom: 1px solid #222222;
  height: 70px; }

#selezione-giocatori-footer {
  width: 100%;
  height: 10%; }

#selezione-giocatori-footer span {
  width: 30%;
  margin: 0 1%;
  height: 100%;
  border: 1px solid orange;
  float: left;
  text-align: center; }

#popup-container {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.yes-no {
  width: 50%;
  height: 10%;
  text-align: center;
  float: left; }

.yes-no#yes {
  background-color: green; }

.yes-no#no {
  background-color: red; }

.errorContainer {
  text-align: center;
  color: #fff; }

.userName {
  font-size: 110%;
  color: red; }

.containerPulsantiMaster {
  float: left;
  width: 100%; }

#listing-giocatori {
  height: 50px;
  width: 50px;
  float: left;
  background-color: red; }

#hint-full {
  height: 50px;
  width: 50px;
  float: left;
  background-color: purple; }

#go-to-wall {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 88%;
  bottom: 4%;
  margin-left: -28px;
  border: 8px solid rgba(244, 123, 51, 0.4);
  -webkit-border-radius: 1000px; }

#inside-go-to-wall {
  margin: 2%;
  background-color: #F47B33;
  text-align: center;
  width: 96%;
  height: 96%;
  -webkit-border-radius: 1000px;
  position: relative; }

#inside-go-to-wall img {
  left: 22%;
  top: 25%;
  position: absolute;
  width: 60%; }

#go-to-players {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 12%;
  bottom: 4%;
  margin-left: -28px;
  border: 8px solid rgba(244, 123, 51, 0.4);
  -webkit-border-radius: 1000px; }

#inside-go-to-players {
  margin: 2%;
  background-color: #F47B33;
  text-align: center;
  width: 96%;
  height: 96%;
  -webkit-border-radius: 1000px;
  position: relative; }

#inside-go-to-players img {
  left: 22%;
  top: 20%;
  position: absolute;
  width: 60%; }

#map-container {
  height: 90%; }

.half-width {
  height: 100%;
  width: 50%;
  float: left; }

#helpers {
  background: #fff;
  left: 25%;
  top: 15%;
  height: 5%;
  position: absolute;
  width: 50%; }

#helpers span {
  width: 50%;
  height: 100%;
  text-align: center;
  float: left; }

#generic-popup-container {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  background: #fff;
  z-index: 1000;
  border: 3px solid #000; }

#arrow-popup-container {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: 1000; }

#arrow {
  margin: 0px auto;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 150px solid black;
  -webkit-transition: all 3s ease;
  /* Safari 4+ */
  -moz-transition: all 3s ease;
  /* Fx 5+ */
  -o-transition: all 3s ease;
  /* Opera 12+ */
  transition: all 3s ease;
  /* IE 10+ */ }

#container-hint-in-partita {
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 100;
  left: 0;
  top: 10%;
  width: 100%;
  height: 30%;
  position: absolute;
  -webkit-transition: all 1s ease;
  /* Safari 4+ */
  -moz-transition: all 1s ease;
  /* Fx 5+ */
  -o-transition: all 1s ease;
  /* Opera 12+ */
  transition: all 1s ease;
  /* IE 10+ */ }

#controller-slide-hint {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #F47B33;
  text-align: center; }

#controller-slide-hint img {
  top: 30%;
  position: relative;
  height: 35%;
  width: auto; }

.padder {
  padding: 10px 20px; }

.match-containers {
  width: 25%;
  float: left; }

.match-containers li {
  padding: 10px 0 !important; }

#container-dei-container {
  width: 400%;
  float: left; }

#container-del-container-dei-container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden; }

.match-row {
  width: 100%; }

.match-icon {
  width: 10%;
  float: left; }

.match-name {
  font-family: 'RockwellStdRegular';
  font-size: 2em;
  color: #939597;
  width: 70%;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.match-time {
  width: 20%;
  float: left;
  color: #939597;
  overflow: hidden;
  text-overflow: ellipsis; }

@-webkit-keyframes appear {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-moz-keyframes appear {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-o-keyframes appear {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes appear {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
