@charset "UTF-8";
@import "variables";
@import "mixins.scss";

/* STANDARD FOR MOBILE */

* {
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-touch-callout: none;
  /* prevent webkit from resizing text to fit */
  -webkit-text-size-adjust: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-user-select: none;

  background-attachment: fixed;

  font-family: $body-font-family;
  font-size: $body-font-size;

  height: 100%;
  width: 100%;

  @include reset-around;
}


ul#list {
  list-style: none;
  @include reset-around;

  li {
    border-bottom: 1px solid #d9e2eb;
    background: $white;
    display: block;
    padding: 15px 0px 15px 10px;
    width: 100%;
    // background-image: -webkit-linear-gradient(top, #ffffff, #ecf1f5);

    a {
      position: relative;
      display: block;
      text-decoration: none;
      font-size: 1.4em;
      color: #787878;
      font-weight: bold;
      overflow: hidden;
    }
  }
}


#back {
  background-color: red;
  padding: 1.5em;
  color: $white;
  text-align: center;
}

#log-in {
  cursor: pointer;
  background-color: green;
  padding: 1.5em;
  color: $white;
  text-align: center;
}

#log-in-with-facebook {
  cursor: pointer;
  background-color: blue;
  padding: 1.5em;
  color: white;
  text-align: center;
}

#NewMatchButton {
  font-family: $body-font-family;
  text-align: center;
  background-color: #ee7427;
  padding: 1.5em;
}

#container {
  -webkit-animation: appear 1s 1; /* Safari 4+ */
  -moz-animation:    appear 1s 1; /* Fx 5+ */
  -o-animation:      appear 1s 1; /* Opera 12+ */
  animation:         appear 1s 1; /* IE 10+ */
}

@-webkit-keyframes appear {
  from {
    opacity:0;;
  }
  to { 
    opacity:1;
  }
}
@-moz-keyframes appear {
  from {
    opacity:0;
  }
  to { 
    opacity:1;
  }
}
@-o-keyframes appear {
  from {
    opacity:0;
  }
  to { 
    opacity:1;
  }
}
@keyframes appear {
  from {
    opacity:0;
  }
  to { 
    opacity:1;
  }
}

