<div id="container-del-container-dei-container">

	<div id="smistador">
		<span id="before" class="side">before</span>
		<span id="current">current</span>
		<span id="after" class="side">after</span>
	</div>

	<div id="container-dei-container">
		<div class="match-containers">
			<div id="blabla">
			</div>
			<div id="container-incorso-match">
			</div>
		</div>
		<div class="match-containers">
			<div id="container-sospese-match">
			</div>
		</div>
		<div class="match-containers">
			<div id="container-storico-match">
			</div>
		</div>
		<div class="match-containers">
			<div id="container-pubblico-match">
			</div>
		</div>
	</div>
</div>