@font-face {
    font-family: 'RockwellStdRegular';
    src: url('rockwellstd.eot');
    src: url('rockwellstd.eot') format('embedded-opentype'),
         url('rockwellstd.woff') format('woff'),
         url('rockwellstd.ttf') format('truetype'),
         url('rockwellstd.svg#RockwellStdRegular') format('svg');
}
