<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.hintsite.hintsite"
        versionCode="10" 
        version   = "0.0.1">
    <name>Hintsite</name>
    <description>
        What's Hintsite?
		Hint1: Classic scavenger hunt game
		Hint2: Play in motion with friends
		Hint3: Get to real places
		Move your insight!
    </description>
    <author href="http://www.hintsiteapp.com" email="support@hintsiteapp.com">
        Hintsite
    </author>
	<preference name="orientation" value="portrait" />
	<preference name="autorotate" value="false" readonly="true" />
	<preference name="fullscreen" value="true" />
	<preference name="show-splash-screen-spinner" value="false" />
</widget>